include ../base/panelBlock.jade

mixin choiceRow(doc)
  li.list-group-item.choice
    div.row
      div.col-md-12
        +panelBlock('body_ja')(class='panel-info panel-mini')
          | #{doc.body_ja}
    div.row
      div.col-md-10
        +panelBlock('body_en')(class='panel-success panel-mini')
          | #{doc.body_en}
      div.col-md-2
        +panelBlock('point')(class=(doc.point > 0 ? 'panel-primary' : 'panel-danger') + ' panel-mini')
          | #{doc.point}
