extends ../base/templateForMst.jade
include row.jade

block append script 
  script(src='/scripts/scriptForMstQuiz.js')
block thead
  tr
    th(style="width: 90px") op
    th Quiz
block tbody
  each doc in params.pager.items
    tr 
      +row(doc)
  // --- for new row ---------------
  tr
    +row(params.newDocument)
  // --- for new row next insert ---
  tr(style="display:none")
    +row(params.newDocument)
