extends ../main.jade
include pagination.jade
include navbarHeader.jade

block script
  script(src='/scripts/scriptForMst.js')
block title
  title #{params.title}
block body
  +navbarHeader(params.name)

  div(style="padding: 0px 20px")
    +pagination(params.pager)
    form
      table.mst.table.table-bordered.table-striped
        thead
          block thead
        tbody
          block tbody
    +pagination(params.pager, true)
