doctype html
html
  head
    meta(charset='UTF-8')
    block meta
    block title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    block style
    script(src='//code.jquery.com/jquery-2.1.3.min.js')
    script(src='/scripts/jquery.ajaxLoaderImg.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    block script
  body
    block body