extends ../base/templateForMst.jade
include row.jade

block thead
  tr
    th(style="width: 90px") op
    th(style="width: 20rem") name_ja
    th(style="width: 20rem") name_en
    th note
block tbody
  each doc in params.pager.items
    tr 
      +row(doc)
  // --- for new row ---------------
  tr
    +row(params.newDocument)
  // --- for new row next insert ---
  tr(style="display:none")
    +row(params.newDocument)
