table.mst .exec-btn, table.mst .delete-btn {
    margin-top: 3px
}

.top-bottom-margin5 {
    margin-top   : 5px;
    margin-bottom: 5px;
}

.no-margin {
    margin: 0px;
}

.navbar {
    margin-bottom: 10px;
}

.btn-compact {
    padding: 3px 5px;
}

/* category */
div.category {
    padding-right: 1.5rem;
    margin-right : 1.5rem;
    border-right : gray solid 1px;
    display      : inline-block;
}
span.alert.category {
    padding: 10px;
    margin : 1px 5px;
    display: inline-block;
}
/* -------- */
li.choice                 { border-color: #bbb;  } 
li.choice:nth-child(odd)  { background: #f5e7f3; }
li.choice:nth-child(even) { background: #f1dbe4; }

/* panel-mini */
.panel.panel-mini                { margin : 5px 0px 0px 0px; }
.panel.panel-mini>.panel-heading { padding: 5px 0px 0px 5px; }
.panel.panel-mini>.panel-body    { padding: 5px; }
/* --------- */